
.info {
    width: 100%;
    display: inline-block;
}

.info .news-card {
    margin-left: 30px;
}

.news-info {
    width: 70%;
    border-radius: 5px;
    padding-bottom: 1rem;
}

.news-info p {
    margin: 5px 0;
    color: #5b6067;
    font-size: .8rem;
}

.news-info .info {
    background-color: white;
    margin-bottom: 1rem;
}

.news-info .content{
    /*width: 100%;*/
    text-indent: 2rem;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.card {
    display: inline-block;
    width: 18%;
    margin: 10px;
    /*height: 300px;*/
    text-align: center;
}

>>> img {
    max-width: 100%;
}

.name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px 0 0 0;
    text-align: center;
}


.a-name{
    text-decoration: none;
    color: black;
}

.a-name:hover {
    text-decoration: underline;
    color: red;
}

.recommend {
    width: 30%;
    margin: 0 0 0 1rem;
}
.recommend .card {
    width: 100%;
    margin: 0;
    cursor: pointer;
    transition: .5s all;
    font-size: .8rem;
    border: none;
    text-align: left;
}

 .rec-title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 10px 0 0 0;
    text-align: center;
    max-width: 18rem;
}

.recommend .rec-news {
    margin: 0 0 0 1rem;
    padding: 0 1rem;
    background-color: white;
    width: 20rem;
}

